version: "3.9"
services:
  mlflow:
    image: ghcr.io/mlflow/mlflow:latest
    container_name: mlflow-etl
    user: root
    ports:
      - "5000:5000"
    environment:
      - MLFLOW_SERVER_ALLOWED_HOSTS=*
    command: >
      mlflow server 
      --host 0.0.0.0 
      --port 5000 
      --backend-store-uri sqlite:////mlflow/mlflow.db 
      --artifacts-destination /mlflow/artifacts
      --serve-artifacts
    volumes:
      - ./mlflow_data/artifacts:/mlflow/artifacts
      - ./mlflow_data/db:/mlflow
    networks:
      - astro_network

networks:
  astro_network:
    external: true
    name: etl_440f46_airflow