global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "python_etl_app"
    metrics_path: /metrics
    static_configs:
      - targets: ["pushgateway:9091"]